@model FindBus.Models.VersaoBase
@{
    ViewBag.Title = "Versão Base";
    ViewBag.Pagina = "Versão Base";
}
@using (Html.BeginForm("AdicionarVersaoBase", "VersaoBase", FormMethod.Post, new { @id = "formVersaoBase" }))
{
    <div class="control-group">
        <div class="controls">
            <label for="@Html.LabelFor(model => model.versaoBase)" class="col-lg-2 control-label">@Html.LabelFor(model => model.versaoBase)</label>
            <input type="text" class="form-control" id="versao" placeholder="Versão Base">
        </div>
    </div>    
    <br />    
    <input type="button" class="btn btn-success" value="Gerar Base" id="btnSalvarVersaoBase" />
    <a href="@Url.Action("Index", "VersaoBase")" class="btn btn-info">Voltar</a>
}



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Regras/VersaoBase.js")
}
