@model FindBus.Models.Cidade
@{
    ViewBag.Title = "Adicionar Cidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Pagina = "Adicionar Cidade";
}
@Html.ValidationSummary(true)
<div class="control-group">
    <div class="controls">
        <label for="@Html.LabelFor(model => model.Descricao)" class="col-lg-2 control-label">@Html.LabelFor(model => model.Descricao)</label>
        <input type="text" class="form-control" id="Cidade" placeholder="Nome Cidade">
    </div>
</div>
<div class="control-group">
    <label for="@Html.LabelFor(model => model.Uf)" class="col-lg-2 control-label">@Html.LabelFor(model => model.Uf)</label>
    <div class="editor-field" id="Uf">@Html.DropDownListFor(model => model.Uf, new FindBus.Controllers.CidadeController().RetornaUf(), "Selecione um Estado", new { @class = "form-control" })</div>
</div>
<br />
<input type="submit" class="btn btn-success" value="Salvar" onclick="AdicionaCidade('@Url.Action("Adicionar", "Cidade")');" />
<a href="@Url.Action("Index", "Cidade")" class="btn btn-info">Voltar</a>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")    
}
