@model IEnumerable<FindBus.Models.Cidade>
@{
    ViewBag.Title = "Cadastro de Cidade";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
    ViewBag.Pagina = "Cidade";
}

<p style="text-align: right">
    <a href="@Url.Action("Adicionar", "Cidade")" class="btn btn-info btn-large"><i class="icon-white icon-plus-sign"></i>Adicionar</a>
    <a onclick="window.history.back()" class="btn btn-info btn-large"><i class="icon-white icon-plus-sign"></i>Voltar</a>
</p>
<table class="table table-bordered table-striped responsive-utilities table table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CidadeID)</th>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
        <th>@Html.DisplayNameFor(model => model.Uf)</th>
        <th>@Html.DisplayNameFor(model => model.DataInclusaoRegistro)</th>
        <th>Ações</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 10% !important">@Html.DisplayFor(modelItem => item.CidadeID)</td>
            <td style="width: 35% !important">@Html.DisplayFor(modelItem => item.Descricao)</td>
            <td style="width: 20% !important">@Html.DisplayFor(modelItem => item.Uf)</td>
            <td style="width: 20% !important">@Html.DisplayFor(modelItem => item.DataInclusaoRegistro)</td>
            <td style="width: 15% !important; text-align: center">
                <div class="btn-group">
                    <a href="@Url.Action("Edit", "Cidade", new { id = item.CidadeID })" class="btn btn-success btn-large"><i class="icon-white icon-pencil"></i>Editar</a>
                    <a href="@Url.Action("Excluir", "Cidade", new { id = item.CidadeID })" class="btn btn-danger btn-large"><i class="icon-white icon-pencil"></i>Excluir</a>
                </div>
            </td>
        </tr>
    }
</table>
