@using System.Web.Optimization
@using NavigationRoutes
@using FindBus
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    <link href="~/Content/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div class="modal" style="background: rgba(203, 200, 200, 0.50) url('/Content/images/ajax-loader.gif') 50% 50% no-repeat;" title="Carregando">
        
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/images/Flaticon_14179%20(1).png" height="25" />
                    FindBus.com.br
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form">
                    @if (Session["UsuarioLogado"] != null)
                    {
                        <h4><span class="label label-success">Bem-Vindo @Session["UsuarioLogado"].ToString()</span><a href="@Url.Action("LogOff", "Login")"  class="label label-danger">Sair</a></h4>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Login")" class="btn btn-success btn-large"><i class="icon-white icon-user"></i>Login</a>                        
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_alerts")
        @Html.Partial("_validationSummary")
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FindBus - @ViewBag.Pagina</h3>
            </div>
            <div class="panel-body">
                @RenderBody()
            </div>
            <div class="panel-footer">&copy; FindBus @System.DateTime.Now.ToString("yyyy")</div>
        </div>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/Scripts/Regras/Principal.js"></script>
</body>
</html>

