@model IEnumerable<FindBus.Models.RotaEtinerario>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
    ViewBag.Pagina = "Itinerário";
}
<p style="text-align: right">    
    <a onclick="window.history.back()" class="btn btn-info btn-large"><i class="icon-white icon-plus-sign"></i>Voltar</a>
</p>
<table class="table table-bordered table-striped responsive-utilities">
    <tr>
        <th>@Html.DisplayNameFor(model => model.RotaEtinerarioID)</th>
        <th>@Html.DisplayNameFor(model => model.Rota.Descricao)</th>
        <th>Ações</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 10% !important">@Html.DisplayFor(modelItem => item.RotaEtinerarioID)</td>
            <td style="width: 35% !important">@Html.DisplayFor(modelItem => item.Rota.Descricao)</td>
            <td style="width: 15% !important; text-align: center">
                <div class="btn-group">
                    <a class="btn btn-primary btn-large" onclick="VisualizarItinerarioRota(@Html.DisplayFor(modelItem => item.RotaEtinerarioID))">Visualizar</a>                    
                </div>
            </td>
        </tr>
    }
</table>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Regras/Itinerario.js")
}