@model IEnumerable<FindBus.Models.tblRota>
@{
    ViewBag.Title = "Rotas";
    ViewBag.Pagina = "Lista de Rotas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true)
<p style="text-align: right">
    <a href="@Url.Action("AdicionaRota", "Localizacao")" class="btn btn-success btn-large"><i class="icon-white icon-plus-sign"></i>Adicionar</a>
    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-large"><i class="icon-white icon-plus-sign"></i>Voltar</a>
</p>
<table class="table table-bordered table-striped responsive-utilities table table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(model => model.RotaID)</th>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
        <th>@Html.DisplayNameFor(model => model.DataInclusaoRegistro)</th>
        <th>Ações</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 10% !important">@Html.DisplayFor(modelItem => item.RotaID)</td>
            <td style="width: 30% !important">@Html.DisplayFor(modelItem => item.Descricao)</td>
            <td style="width: 20% !important">@Html.DisplayFor(modelItem => item.DataInclusaoRegistro)</td>
            <td style="width: 20% !important; text-align: center">
                <div class="btn-group">
                    <a href="@Url.Action("VisualizaRota", "Localizacao", new { rotaID = item.RotaID })" class="btn btn-info btn-large"><i class="icon-white icon-pencil"></i>Visualizar</a>
                    <a href="@Url.Action("AlteraRota", "Localizacao", new { rotaID = item.RotaID })" class="btn btn-success btn-large"><i class="icon-white icon-pencil"></i>Editar</a>
                    <a onclick="ExcluirRota(@item.RotaID)" class="btn btn-danger btn-large"><i class="icon-white icon-pencil"></i>Excluir</a>
                </div>
            </td>
        </tr>
    }
</table>
@section Scripts {
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuzGQQHQEajGCANlCPhwU8YdG9Qm9VbIQ&sensor=true"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Regras/LocalizacaoExcluir.js")
}
