@model FindBus.Models.Versao
@{
    ViewBag.Title = "Alterar Versão";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Pagina = "Alterar Versão";
}
@Html.ValidationSummary(true)
<div class="form-group">
    <div class="editor-label">@Html.LabelFor(model => model.VersaoAPK)</div>
    <div class="editor-field">@Html.DropDownListFor(model => model.VersaoAPK, new FindBus.Models.Versao().RetornaVersoesApp(), new { @class = "form-control", @style = "width:30%" })</div>
</div>
<div class="editor-label">@Html.LabelFor(model => model.VersaoBase)</div>
<div class="editor-field">@Html.DropDownListFor(model => model.VersaoBase, new FindBus.Models.Versao().RetornaVersoesBase(), new { @class = "form-control", @style = "width:30%" })</div>
<br />
<input type="submit" class="btn btn-success" value="Salvar" onclick="AtualizaVersao();" />
<a href="@Url.Action("Index", "Versao")" class="btn btn-info">Voltar</a>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
}



