@model FindBus.Models.Versao
@{
    ViewBag.Title = "Versão";
    ViewBag.Pagina = "Versão";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Versão</h2>
@Html.DisplayNameFor(model => model.VersaoAPK) : @Html.DisplayFor(model => model.VersaoAPK)
<br />
@Html.DisplayNameFor(model => model.VersaoBase) : @Html.DisplayFor(model => model.VersaoBase)
<br />
@Html.DisplayNameFor(model => model.DataInclusaoRegistro) : @Html.DisplayFor(model => model.DataInclusaoRegistro)
<br />
<div>
    <a href="@Url.Action("AlterarVersao", "Versao")" class="btn btn-info">Atualizar Versão</a>
    <a href="@Url.Action("Index", "Home")" class="btn btn-info">Voltar</a>
</div>
